body {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
.logo {
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
    vertical-align: middle;
}
.logo-text {
    display: block;
    font-size: 5rem;
    color: #f00;
}
.text-red {
    color: #000;
}